.middle-section {

    height: 100%;
    background-color: black;
    margin: 0 8px;
    flex: 1; /*??*/
    display: inline-block;

}

.top-news {

    height: 330px;
    margin-bottom: 10px;
    background-color: black;

    display: flex;
    justify-content: space-between;

}

.top-news-block {

    position: relative;
    width: 247px;
    color: rgb(228, 234, 208);

}

.top-news-block img {

    width: 100%;
    aspect-ratio: 1/1;
    display: block;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;

}

.top-news-block .platform, .products-block .platform, .news-block .platform {

    position: absolute;
    left: 0;
    top: 4px;
    font-size: 13px;
    color: white;
    background-color: rgba(84, 84, 84, 0.7);
    height: 15px;
    padding: 5px 10px 6px 8px;
    border-top-right-radius: 4px;
    border-end-end-radius: 4px;

}

.top-news-block .content {

    padding: 10px 8px 8px 8px;
    font-size: 15px;
    background-color: rgba(11, 45, 42, 0.8);
    height: 65px;
    display: inline-block;

    border-end-end-radius: 4px;
    border-end-start-radius: 4px;

}

.new-product-info {

    height: 589px;
    padding: 10px 6px;
    background-color: black;
    position: relative;

    overflow: hidden;

}

.middle-navbar {

    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    
    margin-top: 10px;
    color: rgb(228, 234, 208);
    font-size: 15px;

    position: relative;

}

.middle-navbar li {

    margin: 0 12px 6px 12px;

}

.new-product-info .middle-navbar li:nth-of-type(3) {

    margin-top: 3.8px;

}

.middle-navbar .more {

    position: absolute;
    right: 0;
    color: #3ea7d8;

}

.middle-navbar .more::after {

    content: ">";
    color: #3ea7d8;

}

.new-product-info .products {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    gap: 20px 6px;
    margin-top: 20px;
    
}

.new-product-info .products-block {

    width: 179.5px;
    height: 248.5px;
    position: relative;

}

.new-product-info .products-block .platform {

    position: absolute;

}

.new-product-info .products-block img {

    width: 100%;
    aspect-ratio: 1/1;
    display: block;

}

.new-product-info .products-block .content {

    font-size: 13px;
    overflow: hidden;
    white-space: wrap;
    line-height: 20px;
    text-overflow: ellipsis;
    background-color: rgba(11, 45, 42, 0.8);
    height: 61px;
    padding-top: 8px;
    padding-left: 5px;

    color: rgb(228, 234, 208);

}

.middle-pages-dots {

    color: rgb(228, 234, 208);
    font-size: 20px;
    font-weight: 700;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    bottom: 4px;

}

.middle-pages-dots span:nth-of-type(1) {

    color: #3ea7d8;

}

.middle-next-page {

    position: absolute;
    color: white;
    background-color: #3ea7d8c5;

    height: 25px;
    padding: 17px 8px;
    border-top-left-radius: 6px;
    border-end-start-radius: 6px;

    overflow: hidden;

    z-index: 1;

    top: 300px;
    right: -22px;

    transition: right 0.3s;

}

.middle-next-page:hover {

    right: 0px;

}

.gnn-news {

    height: 499px;
    padding: 10px 6px;
    background-color: black;

    position: relative;
    overflow: hidden;
    
}

.gnn-news .middle-navbar li:nth-of-type(4) {

    margin-top: 3.8px;

}

.gnn-news .news-list {

    margin-top: 20px;

    display: flex;
    flex-wrap: wrap;

    gap: 14px 6px;

    font-size: 13px;

}

.gnn-news .news-list .news-block {

    display: flex;
    height: 95px;
    width: 366px;

    position: relative;

    color: rgb(228, 234, 208);
    font-size: 13px;

    background-color: rgba(11, 45, 42, 0.8);

}

.gnn-news .news-list .news-block img {

    width: 180px;
    margin-right: 6px;

}

.gnn-news .news-list .news-block .content {

    width: 180px;
    margin-right: 8px;
    text-align: justify;

}

.gnn-news .middle-next-page {

    top: 250px;

}

.denwanfung {

    height: 247px;
    background-color: black;
    padding: 10px;
    margin: 12px 0;

    position: relative;
    overflow: hidden;

}

.denwanfung .crazy-list {

    display: flex;
    gap: 0 8px;
    margin-top: 18px;

}

.denwanfung .crazy-block {

    width: 238px;
    color:rgb(228, 234, 208);
    position: relative;
    background-color: rgba(11, 45, 42, 0.8);

}

.denwanfung .crazy-block img {

    width: 100%;
    display: block;

}

.denwanfung .crazy-block .flow {

    position: absolute;
    bottom: 48px;
    right: 2px;
    color: white;

}

.denwanfung .crazy-block .content {

    padding: 4px 4px 10px 4px;
    font-size: 13px;

}

.denwanfung .middle-next-page {

    top: 125px;

}

.bloggers {

    height: 526px;
    background-color: lightslategray;
    padding: 10px 6px;
    margin-bottom: 12px;

}

.livestreams {

    height: 437px;
    background-color: lightcyan;
    padding: 10px;
    margin-bottom: 12px;

}

.guilds {

    height: 216px;
    padding: 10px;
    margin-bottom: 12px;
    background-color: lightcoral;

}

.posts {

    height: 480px;
    padding: 10px;
    margin-bottom: 12px;
    background-color: lightgrey;

}

.wadais {

    height: 735px;
    padding: 10px;
    margin-bottom: 12px;
    background-color: lightpink;

}