.sidebar {

    background-color: black;
    height: 100%;
    width: 180px;
    position: relative;

}

.sidebar .menu {

    background-color: rgba(11, 45, 42, 0.8);
    margin: 10px 0px;

    display: flex;
    flex-direction: column;
    padding: 0px 5px 0px 12px;

}

.sidebar .menu li {

    font-size: 15px;
    height: 24px;
    border-bottom: 1px dotted #e4ead0;

    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 5px 0px;

}

.sidebar .menu a {

    text-decoration: none;
    color: inherit;
    letter-spacing: 2px;
    padding-bottom: 2px;

}

.sidebar .menu .itemicon {

    height: 24px;
    aspect-ratio: 1/1;
    margin-right: 10px;

}



.sidebar .menu li:nth-of-type(15) {

    border: none;

}

.sidebar .login {

    height: 24px;
    padding: 15px 10px;
    background-color: #FFEEB3;
    position: relative;
    z-index: 0;
    overflow: hidden;

    transition: background-color 0.15s;

    display: flex;
    align-items: center;
    justify-content: center;
    
    color: rgb(85, 85, 85);

    border-radius: 3px;
    border: 1px solid #d4b878;

    cursor: pointer;

}

.sidebar .login:hover {

    background-color: #ffe790;

}

.sidebar .login::after {

    position: absolute;
    background-image: url("resources/sidebar/coin.svg");
    height: 80px;
    width: 80px;
    content: "";
    background-repeat: no-repeat;
    background-size: cover;
    right: -14px;
    bottom: -32px;
    rotate: -35deg;
    z-index: -1;
    opacity: 0.33;

    transition: bottom 0.15s;

}

.sidebar .login:hover::after {

    bottom: -23px;

}

.sidebar .shop {

    margin: 10px 0px;
    background-color: lightcoral;

}

.sidebar .trending-anime {

    background-color: lightcyan;

}

.sidebar .other-anime {

    margin: 10px 0;
    background-color: lightgray;

}

.sidebar .research {

    background-color: lightseagreen;

}

.sidebar .copyright {

    margin-top: 10px;
    background-color: lightgreen;

}